@model eShop.web.ViewModels.PageViewModel<eShop.web.Models.Pages.ContactPage>
<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__content">
                    <div class="contact__address">
                        <h5>@Model.CurrentPage.MetaTitle</h5>
                        <ul>
                            <li>
                                <h6><i class="fa fa-map-marker"></i> @Model.CurrentPage.AddressTile</h6>
                                <p>@Model.CurrentPage.Address</p>
                            </li>
                            <li>
                                <h6><i class="fa fa-phone"></i> @Model.CurrentPage.PhoneTitle</h6>
                                <p><span>@Model.CurrentPage.Phone</span></p>
                            </li>
                            <li>
                                <h6><i class="fa fa-headphones"></i> @Model.CurrentPage.EmailTitle</h6>
                                <p>@Model.CurrentPage.Email</p>
                            </li>
                        </ul>
                    </div>
                    <div class="contact__form">
                        <h5>@Model.CurrentPage.FormTitle</h5>
                        @using (Html.BeginForm("Save", "ContactPage", FormMethod.Post, new { @id = "frm" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("currentPage", Model.CurrentPage.ContentLink)

                            <input type="text" name="UserName" placeholder="@Model.CurrentPage.NameFieldTile">
                            <input type="text" name="Email" placeholder="@Model.CurrentPage.EmailFieldTile">
                            <textarea name="UserComment" placeholder="@Model.CurrentPage.MessageFieldTile"></textarea>
                            <button type="button" id="btnSave" class="site-btn">@Model.CurrentPage.ButtonFieldTile</button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__map">
                    <iframe src="@Model.CurrentPage.GoogleMapUrl"
                            height="780" style="border:0" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

@section scripts{
    <script src="~/Static/js/jquery.form.min.js"></script>
    <script language="JavaScript">
        function convertFormToJSON(form) {
            const array = $(form).serializeArray(); // Encodes the set of form elements as an array of names and values.
            const json = {};
            $.each(array, function () {
                json[this.name] = this.value || "";
            });
            return json;
        }

        $("#frm").submit(function (event) {
            event.preventDefault();
            let postData = convertFormToJSON($(this));
            $.ajax({
                type: 'POST',
                url: '/ContactPage/Save',
                data: postData,
                dataType: 'json',
                beforeSend: function (xhr) {
                    //doing st with xhr
                }
            }).done(function (data) {
                $("#frm")[0].reset();
                alert('Message sent!');
            }).fail(function (e) {
                alert('Cannot send message');
            });

        });

        $("#btnSave").click(function () {
            $("#frm").submit();
        });
    </script>
}