@using EPiServer.Web
@using eShop.web.Helpers
@using EPiServer;
@using EPiServer.ServiceLocation;
@model eShop.web.ViewModels.IPageViewModel<eShop.web.Models.Pages.SitePageData>
@{ 
    bool isLoggedin = false;
    if (Request.Cookies.Get(FormsAuthentication.FormsCookieName) != null)
    {
        isLoggedin = true;
    }

    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
    var loginPage = contentLoader.GetChildren<LoginPage>(SiteDefinition.Current.StartPage).FirstOrDefault();
}
<!-- Header Section Begin -->
<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2">
                <div class="header__logo">
                    <a href="./index.html">@Html.PropertyFor(x => x.Layout.SiteLogo, "~/Shared/Blocks/SiteLogoTypeBlock")</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <nav class="header__menu">
                    <ul>
                        <li class="@(Model.CurrentPage.ContentLink.CompareToIgnoreWorkID(SiteDefinition.Current.StartPage) ? "active": "")">
                            @Html.ContentLink(SiteDefinition.Current.StartPage)
                        </li>
                        @Html.MenuList(SiteDefinition.Current.StartPage,
                                        @<li class="@(item.Selected ? "active" : null)">
                                            @Html.PageLink(item.Page, null, new { @class = string.Join(" ", item.Page.GetThemeCssClassNames()) })
                                        </li>)
                        @*<li><a href="#">Women’s</a></li>
                            <li><a href="#">Men’s</a></li>
                            <li><a href="./shop.html">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="./product-details.html">Product Details</a></li>
                                    <li><a href="./shop-cart.html">Shop Cart</a></li>
                                    <li><a href="./checkout.html">Checkout</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>*@
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__right">
                    <div class="header__right__auth">
                        @if (!isLoggedin)
                        {
                            <a href="@Url.ContentUrl(loginPage.ContentLink)">Login</a>
                            <a href="#">Register</a>
                        }
                        else
                        {
                            <a href="/LoginPage/Logout">Logout</a>
                        }

                    </div>
                    <ul class="header__right__widget">
                        <li><span class="icon_search search-switch"></span></li>
                        <li id="MiniCart">
                            @{
                                Html.RenderAction("CartMini", "Header");
                            }
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="canvas__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header Section End -->

@Html.Partial("_Breadcrumbs")