@model eShop.web.ViewModels.ProductPageViewModel
@{
    
    
}
<!DOCTYPE html>
<html lang="@Model.Language">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="@Model.CurrentContentModel.Description">
    <meta name="keywords" content="@Model.CurrentContentModel.Keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ashion | @Model.CurrentContentModel.ProductName</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    @Html.CanonicalLink()
    @Html.AlternateLinks()
    @Html.RenderEPiServerQuickNavigator()
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Static/css/style.css" type="text/css">

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    @{
        Html.RenderPartial("_Header", Model.StartPageViewModel);
    }

    @RenderBody()

    @{
        Html.RenderPartial("_Footer", Model.StartPageViewModel);
    }


    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->
    <!-- Js Plugins -->
    <script src="~/Static/js/jquery-3.4.1.min.js"></script>
    <script src="~/Static/js/bootstrap.min.js"></script>
    <script src="~/Static/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Static/js/jquery-ui.min.js"></script>
    <script src="~/Static/js/mixitup.min.js"></script>
    <script src="~/Static/js/jquery.countdown.min.js"></script>
    <script src="~/Static/js/jquery.slicknav.js"></script>
    <script src="~/Static/js/owl.carousel.min.js"></script>
    <script src="~/Static/js/jquery.nicescroll.min.js"></script>
    <script src="~/Static/js/main.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>